/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

#page {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 50%, transparent 50%), linear-gradient(to bottom, #000 1px, transparent 1px);
  background-size: 8.69565%, 100% 46px;
  background-origin: content-box, border-box;
  background-clip: content-box, border-box;
  background-position: left top;
  background-color: #fff;
  padding: 0 4.34783%; }
  #page:after {
    content: " ";
    display: block;
    clear: both; }

main {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }

aside {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }

@media (min-width: 500px) {
  main {
    width: 65.21739%;
    float: left;
    margin-right: 4.34783%; }

  aside {
    width: 30.43478%;
    float: right;
    margin-right: 0; } }
html {
  font-size: 125%;
  line-height: 2.3em; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 20px;
  background-color: #ededed;
  color: #363636;
  font-family: 'Cabin', sans-serif; }

h1 {
  font-size: 36px;
  font-size: 1.8rem;
  line-height: 46px;
  line-height: 2.3rem;
  line-height: 92px;
  line-height: 4.6rem;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Lobster', sans-serif; }

h2 {
  font-size: 30px;
  font-size: 1.5rem;
  line-height: 46px;
  line-height: 2.3rem;
  margin-top: 46px;
  margin-top: 2.3rem;
  font-weight: bold;
  font-family: 'Lato', sans-serif; }

aside h2 {
  font-size: 30px;
  font-size: 1.5rem;
  line-height: 46px;
  line-height: 2.3rem;
  margin-top: 46px;
  margin-top: 2.3rem; }

h3 {
  font-size: 25px;
  font-size: 1.25rem;
  line-height: 46px;
  line-height: 2.3rem;
  line-height: 46px;
  line-height: 2.3rem;
  font-weight: bold; }

p {
  font-size: 24px;
  font-size: 1.2rem;
  line-height: 46px;
  line-height: 2.3rem; }

li {
  font-size: 24px;
  font-size: 1.2rem;
  line-height: 46px;
  line-height: 2.3rem; }

dt {
  float: left;
  min-width: 30px; }

img {
  width: 100%;
  height: auto; }

a, a:hover, a:active, a:visited {
  color: #EC7263; }

a.libro {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-image: url('/images/cover.png?1447347685');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 300px;
  height: 355px;
  display: block;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }

.ultimaspaginas {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-top: 23px;
  margin-top: 1.15rem;
  margin-bottom: 23px;
  margin-bottom: 1.15rem; }
  .ultimaspaginas li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 4px;
    padding-right: 4px; }
    .ultimaspaginas li:first-child {
      padding-left: 0; }
    .ultimaspaginas li:last-child {
      padding-right: 0; }
    .ultimaspaginas li.last {
      padding-right: 0; }

.ellibro {
  margin-bottom: 46px;
  margin-bottom: 2.3rem; }

.herramientas {
  margin-bottom: 92px;
  margin-bottom: 4.6rem; }
