/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Lato:400,900italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:700);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Cabin:500);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

#page {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding-left: 4.34783%;
  padding-right: 4.34783%;
  margin-top: 4.34783%;
  margin-bottom: 4.34783%;
  -moz-box-shadow: #363636 2px 2px 10px;
  -webkit-box-shadow: #363636 2px 2px 10px;
  box-shadow: #363636 2px 2px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  #page:after {
    content: " ";
    display: block;
    clear: both; }

header {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: center; }
  header img {
    width: 130px;
    -moz-border-radius: 360px;
    -webkit-border-radius: 360px;
    border-radius: 360px;
    margin-top: 36px;
    margin-top: 2rem;
    -moz-box-shadow: #363636 2px 2px 10px;
    -webkit-box-shadow: #363636 2px 2px 10px;
    box-shadow: #363636 2px 2px 10px; }

main {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }

aside {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }

@media (min-width: 700px) {
  main {
    width: 65.21739%;
    float: left;
    margin-right: 4.34783%; }

  aside {
    width: 30.43478%;
    float: right;
    margin-right: 0; } }
html {
  font-size: 112.5%;
  line-height: 2em; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 18px;
  background-color: #ededed;
  color: #363636;
  font-family: 'PT Sans Narrow', sans-serif; }

h1 {
  font-size: 33px;
  font-size: 1.83333rem;
  line-height: 54px;
  line-height: 3rem;
  line-height: 72px;
  line-height: 4rem;
  margin-top: 36px;
  margin-top: 2rem;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 36px;
  margin-bottom: 2rem;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0px 0px 1px #aaaaaa; }

header h1 span {
  color: #EC7263;
  font-weight: bold; }

h2 {
  font-size: 30px;
  font-size: 1.66667rem;
  line-height: 36px;
  line-height: 2rem;
  margin-top: 36px;
  margin-top: 2rem;
  margin-bottom: 36px;
  margin-bottom: 2rem;
  text-shadow: 0px 0px 1px #aaaaaa;
  font-family: 'Montserrat', sans-serif; }

aside h2 {
  font-size: 30px;
  font-size: 1.66667rem;
  line-height: 36px;
  line-height: 2rem;
  margin-top: 36px;
  margin-top: 2rem;
  text-shadow: 0px 0px 1px #aaaaaa; }

h3 {
  font-size: 22px;
  font-size: 1.22222rem;
  line-height: 36px;
  line-height: 2rem;
  line-height: 36px;
  line-height: 2rem;
  color: #999999;
  font-family: 'Lato', sans-serif;
  text-shadow: 0px 0px 1px #aaaaaa; }

p {
  font-size: 22px;
  font-size: 1.22222rem;
  line-height: 36px;
  line-height: 2rem;
  font-family: 'PT Sans Narrow', sans-serif; }

.experiencia p {
  /*  @include leader(1);
    @include trailer(1);*/ }

li, dd {
  font-size: 22px;
  font-size: 1.22222rem;
  line-height: 36px;
  line-height: 2rem;
  font-family: 'PT Sans Narrow', sans-serif; }

/*.datospersonales {
  @include leader(0);
  @include breakpoint($tabletas){
    @include leader (5);
  }
}*/
dt {
  float: left;
  min-width: 30px; }

img {
  width: 100%;
  height: auto; }

a, a:hover, a:active, a:visited {
  color: #EC7263; }

a.libro {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-image: url('/images/cover.png?1447347685');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 300px;
  height: 355px;
  display: block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #363636 2px 2px 10px;
  -webkit-box-shadow: #363636 2px 2px 10px;
  box-shadow: #363636 2px 2px 10px;
  margin-bottom: 36px;
  margin-bottom: 2rem;
  margin-top: 36px;
  margin-top: 2rem; }

.ultimaspaginas {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-top: 18px;
  margin-top: 1rem;
  margin-bottom: 18px;
  margin-bottom: 1rem; }
  .ultimaspaginas li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 4px;
    padding-right: 4px; }
    .ultimaspaginas li:first-child {
      padding-left: 0; }
    .ultimaspaginas li:last-child {
      padding-right: 0; }
    .ultimaspaginas li.last {
      padding-right: 0; }

.ellibro {
  margin-bottom: 72px;
  margin-bottom: 4rem; }

@media (min-width: 700px) {
  .herramientas {
    margin-bottom: 216px;
    margin-bottom: 12rem; } }
