//layout

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: 90%,
  container-position: center,
  columns: 12,
  gutters: 1,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: show,
    color: rgba(#66f, .25),
    output: overlay,
    toggle: top right,
  )
);
$breakpoints: (
  'tablet' : ( min-width:  767px ),
  'desktop'  : ( min-width: 1028px ),
);
#page {
@include container;
background-color: $color-blanco;
padding-left: span(1);
padding-right: span(1);
margin-top: span(1);
margin-bottom: span(1);
@include box-shadow($color-texto 2px 2px 10px);
@include border-radius(5px);
}
header {
  @include span(full);
  text-align: center;
  img {
    width: 130px;
    @include border-radius(360px);
    @include leader(1);
    @include box-shadow($color-texto 2px 2px 10px);
  }
}
main {
@include span(12);
}
aside {
@include span(12);
}
@include breakpoint($tabletas){
  main {
  @include span(8);  }
  aside {
  @include span(4 last);
  }
}
.aficiones {
  p:last-child{
  //  @include padding-leader(2/3);
    @include padding-leader(1/4);
  }
}
