

@include establish-baseline;
@include border-box-sizing;

html {
  font-size: $base-font-size;
  background-color: $color-fondo;
  color: $color-texto;
  font-family: 'PT Sans Narrow', sans-serif;

}
h1 {
@include adjust-font-size-to(33px);
@include adjust-leading-to(2, 33px);
@include leader(1);
padding-left: 15%;
padding-right: 15%;
@include trailer(1);
font-family: 'Montserrat', sans-serif;
@include single-text-shadow;
}
header h1 span {
  color: $color-enlace;
  font-weight: bold;
}
h2 {
@include adjust-font-size-to(30px);
@include leader(1, 30px);
@include trailer(1, 30px);
@include single-text-shadow;
font-family: 'Montserrat', sans-serif;
}
aside h2 {
@include adjust-font-size-to(30px);
@include leader(1, 30px);
@include single-text-shadow;
}
h3 {
@include adjust-font-size-to(22px);
margin: rythym(0.5) 22px;
color: darken($color-blanco, 40% );
font-family: 'Lato', sans-serif;
@include single-text-shadow;
}
p {
@include adjust-font-size-to(22px);
font-family: 'PT Sans Narrow', sans-serif;
}
.experiencia p {
/*  @include leader(1);
  @include trailer(1);*/
}
li, dd {
@include adjust-font-size-to(22px);
font-family: 'PT Sans Narrow', sans-serif;
}

/*.datospersonales {
  @include leader(0);
  @include breakpoint($tabletas){
    @include leader (5);
  }
}*/
dt {
  float: left;
  min-width: 30px;
}
img {
  width: 100%;
  height: auto;
}
a, a:hover, a:active, a:visited {
  color: $color-enlace;
}
a.libro {
  @include replace-text-with-dimensions("cover.png");
  display: block;
  @include border-radius(5px);
  @include box-shadow($color-texto 2px 2px 10px);
  @include trailer(1);
  @include leader(1);
}
.ultimaspaginas {
  @include horizontal-list;
  @include leader(0.5);
  @include trailer(0.5);
}
// AFICIONES
.ellibro {
  @include trailer(2);
}
.herramientas {
  @include breakpoint($tabletas){
    @include trailer(6);
  }

}
// SPRITE
@import "herramientas/*.png";
@include all-herramientas-sprites;
.herramientas a {
  display: block;
  width: 64px;
  height: 64px;
}
.herramientas ul {
  display: flex;
  li {
    margin-right: 15px;
    text-align: center;
     @include adjust-leading-to(1);
  }
  @include trailer(1);
}
