// vertical rhythm
$base-font-size: 20px; // Sets the base font size
$base-line-height: 46px; // Sets the base line height

$round-to-nearest-half-line: true; // Allows compass to round to  multiples of 0.5x line height
$rhythm-unit: "rem"; // Sets rhythm unit to rem. Remove to use default em unit.

// Note these are custom. You have to tell compass to use them yourself

$tabletas: 500px;
// colores

$color-enlace: #EC7263;
$color-fondo: #ededed;
$color-texto: #363636;
$color-blanco: #fff;
